body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

#registrationForm {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

 input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

 button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

 button[type="button"] {
    background-color: #007BFF;
    margin-top: 10px;
}

 button:hover {
    background-color: #45a049;
}

 button[type="button"]:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    text-align: center;
    color: #ff0000;
}
h2{
    margin-right: 100px;
}